<div class="container-fluid">
    <h1>Create a new Account</h1>
    <!-- {{ userSignupForm.value | json }} -->
    <!-- {{ email.untouched}} -->
    
    <form #userSignupForm ="ngForm" novalidate (ngSubmit)="onSubmit()" action="">
        <div class="form-group">
            <label for="">Email</label>
            <input required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-valid]="email.invalid && email.touched" 
            #email="ngModel" name="email" class="form-control" [(ngModel)] = "scrumUserModel.email">
            <!-- <small [class.d-none]="email.valid || email.touched" class="text-danger">Email is required</small> -->
            <div *ngIf="email.errors && (email.invalid || email.untouched)">
                <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Email must have a @ char</small>
            </div>
        </div>

        <div class="form-group">
            <label for="">Full Name</label>
            <input required type="text" [class.is-valid]="fullname.invalid && fullname.touched" #fullname="ngModel"
            name="fullname" class="form-control" [(ngModel)] = "scrumUserModel.fullname">
            <div *ngIf="fullname.errors && (fullname.invalid || fullname.untouched)">
                <small class="text-danger" *ngIf="fullname.errors.required">Full Name is required</small>
                <small class="text-danger" *ngIf="fullname.errors.pattern">Email must have a @ char</small>
            </div>
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input required type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" 
            [class.is-valid]="password.invalid && password.touched" name="password" 
            #password="ngModel" class="form-control" [(ngModel)] = "scrumUserModel.password">
            <div *ngIf="password.errors && (password.invalid || password.untouched)">
                <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
                <small class="text-danger" *ngIf="password.errors.pattern">Password must 8-15 characters long</small>
            </div>
        </div>

        <div class="form-group">
            <label for="">User Type</label>
            <select name="usertype" id="" class="custom-select" [(ngModel)] = "scrumUserModel.usertype">
                <option value="" selected></option>
                <option *ngFor= "let type of userTypes" value="">{{type}}</option>                
            </select>

        </div>
        <h5>{{feedbk}}</h5>
        <button class="btn btn-primary">Create User</button>
        <div>Already have an account?<a routerLink="/login">Login</a></div>

    </form>

</div>
